[2021-02-18 13:37] tchernobog opened #1059 "Add link from struct documentation to struct + "Ext""
Hi, browsing the gtk4-rs documentation, it is a bit hard to discover the documentation of a the "Ext" trait by looking at the documentation of the corresponding struct.

E.g. https://gtk-rs.org/gtk4-rs/gtk4/struct.Button.html doesn't immediately show a link to https://gtk-rs.org/gtk4-rs/gtk4/trait.ButtonExt.html.

I believe this is confusing for newcomers like me, which arrive from the C/C++ GTK A

[2021-02-19 22:08] bilelmoussaoui commented on #1059
This is already the case, the issue was with how we built the docs. Should be fixed, see https://gtk-rs.org/gtk4-rs/gtk4/struct.Box.html

[2021-02-22 09:49] tchernobog commented on #1059
Thanks for the prompt response. Looks fine to me!

[2021-02-22 09:49] #1059 closed

[2021-02-24 18:40] #993 closed

[2021-02-27 21:53] GuillaumeGomez opened #1063 "Doc aliases should be generated for the structs too"
For example, when searching for `GtkButton`, it only shows the ffi type. It'll require to update the `glib::wrapper!` macro.

[2021-03-09 14:48] bilelmoussaoui opened #1067 "Allow to define custom doc aliases"
I have this use case in gtk4-rs
[code]

The generated code looks like
[code]

What I would like to be able to achieve is producing this code
[code]

Maybe having a `doc_alias = []` option would make sense?
[code]

[2021-03-14 12:43] bilelmoussaoui opened #1069 "Don't use IsA for fundamental types"
Currently gir, uses `IsA` for generated code for any fundamental type. What would be nice is to have gir know the difference and only use `IsA` for objects.

[2021-03-16 13:45] bilelmoussaoui commented on #1069
Maybe instead it should use `AsRef<A>` ?

[2021-03-16 22:15] Hofer-Julian opened #1070 "Add a builder method to gobjects"
Adding a builder method to gobjects helps the discoverability of the builder pattern. In my opinion it would also make the usage of the builder pattern a bit more obvious.

For details see https://matklad.github.io/2020/08/12/who-builds-the-builder.html

[2021-03-17 11:19] sdroege commented on #1070
Indeed, that's something that has to be changed in gir though

[2021-03-18 15:21] Hofer-Julian opened #1071 "Docs for BindingFlags consts are missing"
See [here](http://gtk-rs.org/docs/glib/struct.BindingFlags.html)

It is present in the [gir-files](https://github.com/gtk-rs/gir-files/blob/21f76701e9dcc04031240aa9fdcbf8a96bc5b53c/GObject-2.0.gir#L356), so according to @sdroege it is a bug in either the gir tool or rustdoc-stripper

[2021-03-18 20:53] #1040 closed

[2021-03-19 17:37] GuillaumeGomez opened #1073 "Should the -d option completely override the girs_directories values?"
From https://github.com/gtk-rs/gir/pull/1041/files#r591819365

[2021-03-19 17:51] sdroege commented on #1073
Yes

[2021-03-19 18:59] GuillaumeGomez commented on #1073
End of the debate then! :laughing:

[2021-03-19 19:11] sdroege commented on #1073
That's what generator.py already does? Good then

[2021-03-19 19:11] #1073 closed

[2021-03-20 19:35] Hofer-Julian opened #1076 "Add properties to docs"
Gir currently adds an "Implements" section to the docs (e.g. see [here](https://gtk-rs.org/gtk4-rs/gtk4/struct.Switch.html))

To me it would make sense to add a "Properties" section as well.
After a quick look it seems like most pieces already seem to be in place for that.

Unless anything speaks against it, I'd like to work on it.

[2021-03-20 19:55] Hofer-Julian commented on #1076
One counter point: GObjects like GtkWindow have many properties
https://gnome.pages.gitlab.gnome.org/gtk/gtk4/class.Window.html#properties

[2021-03-21 10:44] sdroege opened #1077 "Extend bool_return_is_error configuration to allow including function arguments in errors"
For many functions it's more useful to include some of the function arguments in the string returned `glib::bool_error!`.

I'd suggest a syntax like `bool_return_is_error = "blablabla {0} blablabla {1:?}"` for this that takes the first and second argument then, the second via the `Debug` impl.

[2021-03-23 08:15] bilelmoussaoui opened #1078 "Configure concurency for callback params"
Currently, you can set the `concurency` only for an object. It would be nice to set whether a callback param requires `Send` or `Sync`, both or `none`

[2021-03-23 21:04] MarijnS95 opened #1079 "`doc_cfg` hints not shown on reexports from private modules"
Hi @GuillaumeGomez! I am currently revisiting [the](https://github.com/gtk-rs/gir/pull/991#issuecomment-738978667) [idea](https://github.com/gtk-rs/gir/pull/991#issuecomment-738988457) to omit `cfg`/`doc_cfg` attributes when the parent (`impl` block or `mod` in its entirety) already has a version constraint that is at least as strict. This was sparked after going through https://doc.rust-lang.org/

[2021-03-23 21:06] MarijnS95 commented on #1079
To illustrate this issue differently I have minimal reproducible example, including comments explaining the situation:

[code]

[2021-03-23 21:19] GuillaumeGomez commented on #1079
Well first of all: this is awesome! Thanks a lot for doing this!

My main question now is: will rustdoc remove this feature before that this one gets merged or not? Well, I suppose not. For reference, here is the work in progress to remove the need for `doc_cfg`: https://github.com/rust-lang/rust/pull/79341

For the combination of the attributes, I'm surprised that rustdoc doesn't handle it. I thi

[2021-03-23 22:07] MarijnS95 commented on #1079
Thanks! Actually I have to thank you for working on `rustdoc`, it is truly awesome and elegant, both to write docs as well as to read them!

You mean implying `doc(cfg())` based on `cfg()`? That's easily a separate change, it doesn't really matter which one is merged first to `gir`, we'll just regenerate. I can anyway submit the deduplication straight away since it makes no functional difference.

[2021-03-24 21:06] GuillaumeGomez commented on #1079
Considering that `doc(cfg())` is a nightly only feature, it's very likely that it'll be a hard error once removed. It'd be pretty problematic for our end users to suddenly have a compilation error out of nowhere because of a remove attribute from the compiler. This is why I'm a bit wary about it. But I suppose we can handle it by just making a minor release if this really happens?

[2021-03-24 21:10] MarijnS95 commented on #1079
Since it has been a nightly feature that tradeoff must have already been made when its use was introduced here. End-users are probably well aware that they have to build the docs with nightly anyhow? Are users doing that anyway or simply compiling their own programs without `dox` feature, relying on those hosted online?

Anyway, that's nothing that this issue nor the PR changes.

[2021-03-25 10:37] sdroege commented on #1079
I think that's the important part here. We already require nightly for building the docs anyway, this PR does not make the situation worse in that regard AFAIU.

I don't like that we require nightly for building the docs, but that was introduced a few weeks ago already.

[2021-03-25 10:46] MarijnS95 commented on #1079
Correct - if anything there are now _less_ `doc(cfg())` attributes in the code, but that doesn't matter too much if you can't have any atll.

[2021-03-25 16:21] bilelmoussaoui opened #1081 "cfg_condition doesn't affect flags"
Doing so in gtk4-rs
[code]
Where PrintCapabilities is a flag, it doesn't generate any cfg attribute at all.

[2021-04-03 17:13] bilelmoussaoui opened #1091 "`ToGlib` trait should take `self` instead of `&self`"
Somehow I'm getting those with clippy now

[code]

related to https://github.com/gtk-rs/gtk-rs/issues/313

[2021-04-03 18:04] sdroege commented on #1091
Yes that sounds useful, also for `FromGlib`.

[2021-04-11 19:14] MarijnS95 opened #1094 "-m doc does not seem to generate output for manual objects"
All objects declared manual - either through `status = "manual"` or `manual = ["TheNamespace.TheObject"]` - do not have LGPL documentation generated for them to the markdown files. However, `rustdoc-stripper` still removes all documentation comments from these non-auto files, which is odd.

- Is `gir` supposed to output documentation for these objects?
- Is `embed-lgpl-docs` capable of adding thes

[2021-04-11 19:43] bilelmoussaoui commented on #1094
I always wondered if `doc_trait_name` does that. Or at least supposed to?
[code]

[2021-04-11 20:47] MarijnS95 commented on #1094
@bilelmoussaoui These are not manual trait extensions but rather the implementation of the type and functions themselves. Granted, our `impl` block is called for example `GLMemoryRef` for the `GstGL.GLMemory` type, but then the docs should _at least_ show up in markdown, which they don't either.

[2021-04-12 14:59] sophie-h opened #1095 "Add property docs to *Builder methods"
The functions of Builders currently don't have any documentation. If that's possible, it would be nice to a the upstream property documentation as documentation for the function. They seemed to be quite suitable for that.

Sometimes the setter method has important additional information. Maybe it would be extra nice to link to the setter docs? (At least the new GTK 4 docs know about the setter of

[2021-04-12 21:31] sophie-h opened #1096 "Single use statement missing when generating libhandy-rs"
I updated libhandy-rs to current gtk-rs master. Everything seems to work but I had to add a single `use gtk::Widget;` to the auto-generated code.

My branch is here https://gitlab.gnome.org/sophie-h/libhandy-rs/-/tree/gtk-rs-0.14

[code]

[2021-04-13 07:20] sdroege commented on #1096
That's probably because child properties are handled "specially" in gir and so far we only had child properties inside `gtk` itself. This probably needs some changes similar to the `use_glib_type()` function that exists for the same problem inside/outside glib.

[2021-04-13 15:09] #963 closed

[2021-04-14 08:56] bilelmoussaoui commented on #936
cc @fengalin

[2021-04-14 19:11] sophie-h opened #1099 "Potential naming clash of vX_Y features between libraries"
While updating libhandy-rs I realized for the first time, that gir generated code contains version numbers that are a mix of all involved dependencies.

Currently, this is not problem because the version numbers of libhandy, glib and gtk are neatly separated. But I was wondering if this is really future proof. Maybe having version names like `gtk_v3_24` could prove helpful at some point. (It will

[2021-04-17 09:41] MarijnS95 commented on #1094
I think I know what is going on here.

The types I'm working with `(GLBuffer`, `GLMemory`) are boxed types without memory management functions bailing in `Missing memory management functions for`, this must also prevent them from generating docs. We recently added `get_type` to the C bindings to fix this and regenerating with this makes the documentation show up!

[2021-04-17 20:28] MarijnS95 commented on #1094
Part one of this issue has been tackled: #1103. Docs for these types now show up in `docs.md`.

However, in GStreamer we define member functions on these special "miniobject" types (`GLBuffer`, `GLMemory`) inside `impl GLMemoryRef` (and associated functions in `impl GLMemory` if available), but `rustdoc-stripper` doesn't know this. We'll need to see how to do that, perhaps this is already possible

[2021-04-18 14:24] #936 closed

[2021-04-18 15:37] bilelmoussaoui commented on #974
This can be closed as well as it was fixed

[2021-04-18 15:37] #974 closed

[2021-04-20 06:27] sdroege commented on #1099
That's an interesting problem. Usually these version features of dependencies would be covered by version features of the crate itself. So that e.g. `v2_18` of libhandy depends on `gtk/v3_14`.

[2021-04-20 16:55] sophie-h commented on #1099
Note that `v2_18` in this case is the glib version. The only reason why glib versions do not appear in the gtk3 docs is because of `min_cfg_version = "3.14"` and `2.18 < 3.14`.

[2021-04-20 17:03] sdroege commented on #1099
That sounds all very problematic... that gir is just mixing versions of different libraries :)

[2021-04-21 21:13] bilelmoussaoui commented on #962
This can be closed now

[2021-04-21 21:22] bilelmoussaoui opened #1104 "gir confuses the callback definition with params nullability"
If you take a Callback defined as such
[code]

Any function that takes that callback as input param, it will have a `Option<Box<F>>` even if the param isn't marked as nullable in the introspection data. see https://github.com/gtk-rs/gtk4-rs/pull/268#discussion_r607078820 for details

[2021-04-21 22:11] bilelmoussaoui opened #1105 "add doc alias for renamed functions"
Especially after merging the renamed getters, some of the methods have a completely different name. Using doc_alias for that makes sense and would help users figure out the new method names.

cc @fengalin @GuillaumeGomez

[2021-04-21 22:37] fengalin commented on #1105
I see that you declare this on `gir`. When I checked, doc alias where available in generated code.
I guess you are talking about manual code where there was no doc alias in the first place.

[2021-04-21 22:40] fengalin commented on #1104
I can look into this as part of https://github.com/gtk-rs/gir/pull/1092 which I resumed today. Hopefully, I should to be able to push something before the weekend.

[2021-04-21 22:41] bilelmoussaoui commented on #1105
What I meant is functions such as https://github.com/gtk-rs/gtk4-rs/blob/master/gtk4/src/auto/widget.rs#L152 would need another doc alias with `get_can_focus`. So every function that has a `rename = "new_method"` would use a `#[doc(alias = "old_method_name")]`. Same thing for methods that are automatically renamed as part of the getter removal

[2021-04-21 22:53] fengalin commented on #1105
@GuillaumeGomez argued that it would lead to too many common names returned when searching in doc: https://github.com/gtk-rs/gir/pull/1014#discussion_r537558009

[2021-04-21 23:14] bilelmoussaoui commented on #1105
what would be the difference between before adding the doc aliases & renaming and now? if you search for `get_X` & you get 10 results before, you would still get 10 results now.

[2021-04-22 06:26] #962 closed

[2021-04-22 08:34] fengalin commented on #1105
@GuillaumeGomez your call :)

It would also be possible to get the `old_method_name` doc alias in manual code since `fix-getters-def` provides this behaviour as an option (no the default due to https://github.com/gtk-rs/gir/pull/1014#discussion_r537558009). I could apply a commit on current `master` based on the diff of a branch that would replace the `fix-getters-def` passes with one with the doc

[2021-04-22 08:35] GuillaumeGomez commented on #1105
No. :)

[2021-04-22 08:58] bilelmoussaoui commented on #1105
Do you mind providing the reasoning behind ? Imho some function names are completely different from their original ones and the user will have a hard time finding about them.

[2021-04-22 09:03] sdroege commented on #1105
I also think this would be useful.

[2021-04-22 09:05] GuillaumeGomez commented on #1105
There are multiple ones:

 * It forces us to add yet another alias information, making the doc search less efficient (result-wise).
 * You can find an item using its C name.
 * It forces us to support yet another feature for only one release. Lot of efforts for close to no gain.

[2021-04-22 09:10] bilelmoussaoui commented on #1105
Why for only one release? The renames are here to stay.

[2021-04-22 09:14] GuillaumeGomez commented on #1105
What's the point to keep the doc aliases for more than one release? People will get used to the new naming in the meantime, it's just useless.

[2021-04-22 09:15] bilelmoussaoui commented on #1105
If we follow the same thinking: What's the point of having the C ones as doc aliases, people will just get used to Rust. They are just useless.

[2021-04-22 09:18] GuillaumeGomez commented on #1105
Nope, not the same logic. The C functions are there to stay, the old naming of the rust functions is definitely gone, making it pointless. You want a aliases for a migration and compare it to a translation between a C API and a Rust one.

[2021-04-22 09:30] bilelmoussaoui commented on #1105
I see your reasoning but that's not really how GIR works. It provides you with the name of the functions you're supposed to be using, most of people search those functions not the C ones. For example
[code]

How would I know I should search for `is_child_visible` & not `get_child_visible`. The same goes for a bunch of other functions.

[2021-04-22 09:38] GuillaumeGomez commented on #1105
And you will have `get_child_visible` appear in your search in any case, so not an issue.

[2021-04-22 09:39] sdroege commented on #1105
Why? Because of subset matching on the C name?

[2021-04-22 09:41] bilelmoussaoui commented on #1105
I wouldn't have opened an issue if it worked: https://gtk-rs.org/gtk4-rs/git/docs/?search=get_child_visible

[2021-04-22 09:43] GuillaumeGomez commented on #1105
Not sure to understand your message here...

Hum, interesting. Wonder why levenhstein distance isn't working in this case...

But that remains a big no for me. :)

[2021-04-22 09:49] bilelmoussaoui commented on #1105
I still don't really see a reasoning behind the big no.

[2021-04-22 09:51] GuillaumeGomez commented on #1105
More code for very little gain for ONE migration which will need to be removed at the next one. It's far from the first time that we update functions' name, people simply get used to it and move on. I don't want to add more technical debt for a one time thing.

[2021-04-22 09:53] bilelmoussaoui commented on #1105
Well that's the misunderstanding here: the doc aliases should never be removed. They point to the original function name that GIR based language should be using.

[2021-04-22 09:57] GuillaumeGomez commented on #1105
Except that there is no such function with the original name anymore and it won't ever be. So it's a one time migration. If the issue is that the name isn't good, then we can simply revert the whole thing.

[2021-04-22 10:03] sdroege commented on #1105
This is for people searching for a function name they would know from gir or any other gir-based languages. Just like `std` has a doc alias for `memset` on `std::slice::fill`.

[2021-04-22 10:05] alatiera commented on #1105
Yes, as I understand it to, this has more to do with aliasing the gir provided name, than the old and now renamed name.

[2021-04-22 12:57] fengalin commented on #1104
Actually, the callback parameter is marked `nullable = "1"` in `Gtk-4.0.gir`. See line 10 305.
As discussed on IRC, this can be closed.

[2021-04-22 12:59] #1104 closed

[2021-04-22 12:59] bilelmoussaoui commented on #1104
Thanks for checking this one @fengalin

[2021-04-23 10:02] elmarco opened #1107 "Gir doesn't support array-length transformations on signals"
Hi,

Unfortunately, gir today doesn't use array-length annotations to transform arrays in trampolines, generating invalid code:

[code]

[code]

[2021-04-24 09:19] Hofer-Julian opened #1109 "Gir creates broken links to objects"
I you currently look at the gtk4-rs Button docs, you will see quite a few of broken references.
For example:
"Button-like widgets like [classGtk.ToggleButton], [classGtk.MenuButton], [classGtk.VolumeButton], [classGtk.LockButton], [classGtk.ColorButton] or [classGtk.FontButton] use style classes such as .toggle, .popup, .scale, .lock, .color on the button node to differentiate themselves from a pl

[2021-04-24 09:31] Hofer-Julian opened #1110 "Links to ExtManual traits are broken"
See for example [here](https://gtk-rs.org/gtk4-rs/git/docs/gtk4/struct.Button.html#implements) for `WidgetExtManual`

According to @bilelmoussaoui this happens because the ExtManual traits are only in prelude.

[2021-04-24 10:16] MarijnS95 commented on #1109
Gir doesn't  understand this pattern in the [documentation](https://raw.githubusercontent.com/gtk-rs/gir-files/6088bb634a406402f308f01d2f33067951d5095b/Gtk-4.0.gir):

[code]

It triggers on the `@Gtk.ToggleButton` part but doesn't generate a link for it because no symbol with that name is found, afaik, and runs into:

https://github.com/gtk-rs/gir/blob/a972bd6d8d02cd44992811bd0a73b1da01c3a261/src/

[2021-04-24 12:02] bilelmoussaoui commented on #1109
The same way there's also [method@Gtk.Window.set_default_size], [enum@Gtk.SomeEnum], [vfunc@Gtk.Window.some_vfunc] & [signal@Gtk.Widget::some_signal]

The method/enum/class should be pretty easy to handle I guess, at least in general. The signal/vfunc are not at all :)

[2021-04-24 12:06] bilelmoussaoui commented on #1109
There seems to be a `property` thing as well

[2021-04-24 20:17] bilelmoussaoui opened #1112 "Use shadow annotation for renaming methods"
See
[code]
and https://github.com/gtk-rs/gtk-rs/issues/478 for details

[2021-04-25 20:17] bilelmoussaoui commented on #1105
Is there a chance of getting this re-opened? I still believe this is really important to have before the next release imho.

[2021-04-26 06:46] sdroege commented on #1105
Yeah I think we should have this too. It's IMHO even more important than having the aliases for the C functions. If the problem is performance then I'm fine with dropping those in exchange.

[2021-04-26 06:52] #1110 closed

[2021-04-26 07:54] fengalin commented on #1105
I think so too. We could at least try it and check if the impact on the index is indeed a concern.

[2021-04-26 08:49] GuillaumeGomez commented on #1105
I'm opposed to it so I don't see how it can be added. :-/

[2021-04-26 08:52] sdroege commented on #1105
Let's remove the C aliases then instead? Overall we will have the same number of aliases then and it's useful to more users.

[2021-04-26 08:55] GuillaumeGomez commented on #1105
The C aliases are useful (at least to me). So I'd rather not. And again: one of the arguments against the renaming was that it'd get harder to find what you're looking for. We decided to move forward with it, but there is no reason to add aliases to previous names.

[2021-04-26 08:56] MarijnS95 commented on #1105
Chiming in without reading the full issue: Isn't a substring of the C alias the original name already? That way it can already be found by the `get_old_method_name`?

[2021-04-26 09:00] sdroege commented on #1105
That's also not what it is about. It's not about aliases for previous names, it's aliases for the proper gir names. That was a problem before the recent renames already and people asked questions on IRC regularly because they couldn't find functions.

This has all nothing to do with the getter renames.

It's using Levenshtein distance to see if it's close enough. And if the distance is bigger than

[2021-04-26 09:04] GuillaumeGomez commented on #1105
To be noted that the aliases are only "exact match". And also that the levenhstein distance is an issue for small items.

[2021-04-26 09:07] sdroege commented on #1105
Maybe in addition rustdoc should also show items if it's a contiguous substring match of enough characters. So that `gtk_widget_foo_bar` would also match `foo_bar` because that's 7 characters one after another that are in both. But that's a rustdoc concern.

[2021-04-26 11:42] GuillaumeGomez commented on #1105
I need to improve search overall. There a lot of corner cases which are problematic.

[2021-04-26 14:14] bilelmoussaoui opened #1115 "Omit user_data & user_destroy from docs of functions parameters"
They are generated for functions that takes a callback, they can be omitted as they are not really useful

![image](https://user-images.githubusercontent.com/7660997/116097442-6f7c4b80-a6aa-11eb-9a19-f2b80c358c76.png)

cc @MarijnS95

[2021-04-26 14:20] MarijnS95 commented on #1115
There are many, many things from the C docs that are irrelevant or useless for Rust docs. We should probably set up a set of rules somwhere to omit certain parameters and functions, I guess?

[2021-04-26 14:21] bilelmoussaoui commented on #1115
Indeed. I'm going through the gtk4-rs docs, if i find more stuff I will open an issue. Maybe we can have some kind of labels here on gir to differentiate docs issues from code generation ones. What do you think @sdroege @GuillaumeGomez ?

[2021-04-26 14:23] GuillaumeGomez commented on #1115
You mean parsing doc comments in `gir` binary? If so, I don't think it's a good idea...

[2021-04-26 14:45] bilelmoussaoui commented on #1115
There's no parsing of the docs required :)

Those docs comes from
[code]
It would just need a condition when generating a function documentation from gir to omit some specific parameter names that are C only.

[2021-04-26 14:46] bilelmoussaoui commented on #1115
Btw, the cc was about adding issues labels to gir so we can find stuff more easily

[2021-04-26 14:48] GuillaumeGomez commented on #1115
Oh I see. Much simpler indeed! Then yes, it's totally doable and would improve the documentation!

PS: I also added a label. :)

[2021-04-26 14:48] bilelmoussaoui commented on #1115
Thanks a lot! :D

[2021-04-27 12:36] MarijnS95 commented on #1105
Ah right, so my idea of typing only the right hand (associated member) side of the function, and then picking the one that shows up for the desired type won't work - the C function needs to be copied verbatim. Good to know!

Looks like the rename aliases might address that to some extent, bar the other issues mentioned.

[2021-04-27 19:45] bilelmoussaoui commented on #908
This can be closed now as the upstream issue has been fixed

[2021-04-28 06:05] #908 closed

[2021-05-02 21:04] bilelmoussaoui opened #1122 "Builder pattern uses Vec<String>"
The builder pattern uses `Vec<String>` instead of something a bit nicer to use like `&[&str]`, it could even use `T: AsRef<str>; &[T]` & then take ownership of the strings inside the builder method.

[2021-05-05 10:04] fengalin opened #1129 "Consider prefixing constructors returning a `Result` with `try`"
Note these special cases:

* Constructors returning the `Result` in a closure passed as an argument.
* Constructors returning a type with `conversion_type` variant `Result`.

[2021-05-07 21:32] asonix commented on #475
Has there been any movement on this? I was looking into this and it seems like https://gitlab.gnome.org/GNOME/vala/-/merge_requests/133 is no longer an issue, but gir still does not properly generate bindings for libgee

[2021-05-08 22:11] sophie-h opened #1132 "UnixMountEntryExt functions not generated"
The functions for UnixMountPoint are generated and originally named g_unix_mount_point_*()

The functions for UnixMountEntry are /not/ generated. They are originally named g_unix_mount_*() (missing '_entry'). They are only picked up into the `functions` module by gir.

I don't know what's the logic gir uses to associate functions to objects. @sdroege said I should open this issue xD (gtk-rs/gtk-rs

[2021-05-09 14:35] euclio opened #1133 "`data` parameter for `gio::content_type_guess` should be an `Option`"
[According to the documentation](https://developer.gnome.org/gio/stable/gio-GContentType.html#g-content-type-guess), `NULL` is a valid value for the `data` parameter of `g_content_type_guess`. However, the Rust bindings type it as `&[u8]`, making it impossible to pass a null value.

[2021-05-09 14:35] sdroege commented on #1133
Seems like `gir` does not handle nullability annotations correctly in combination with arrays.

[2021-05-11 06:42] sdroege commented on #1133
It should almost work, but in addition you will also need to carry through the nullability in `TransformationType::Length` so that inside `src/codegen/function_body_chunk.rs` it does `array.map(|array| array.len()).unwrap_or(0)` instead of `array.len()`.

Want to give it a try?

[2021-05-16 20:16] sophie-h opened #1140 "docs: Links are shown with crate:: prefix"
While the `crate::` link works fine, it should be hidden in the output. Something like

[code]

That's also important because it would fix confusing output like `crate::glib` in gtk.

[2021-05-16 20:18] sophie-h commented on #1140
cc @MarijnS95

[2021-05-16 20:23] MarijnS95 commented on #1140
#1128

[2021-05-16 20:33] sophie-h commented on #1140
I see. That sounds kind of hopeless.

Example for a lot of noise

 https://gtk-rs.org/gtk4-rs/git/docs/gtk4/struct.ApplicationWindow.html#implements

Example for `crate::gio`

https://gtk-rs.org/gtk4-rs/git/docs/gtk4/prelude/trait.GtkWindowExt.html#tymethod.set_application

[2021-05-17 08:30] MarijnS95 commented on #1140
It's a tricky one. I mentioned on IRC I was already coming back from this decision because `crate::` really does look ugly. See for example the GStreamer struct/enum overview page: https://marijns95.pages.freedesktop.org/gstreamer-rs/gstreamer/#structs. OTOH this is the only way (that I know of) to make intradoc links not clickable if they don't point to anything sensible. `[]()` only detects the

[2021-05-17 12:18] bilelmoussaoui commented on #1140
one counter argument against using `crate::` everywhere https://gtk-rs.org/gtk4-rs/stable/0.1/docs/gdk4/struct.Rectangle.html#returns

[2021-05-17 12:19] MarijnS95 commented on #1140
@bilelmoussaoui But why is https://gtk-rs.org/gtk4-rs/stable/0.1/docs/gdk4/struct.Rectangle.html#returns-1 not affected?

[2021-05-17 12:20] MarijnS95 commented on #1140
Relevant change for prelude constants: 52a79988204b4a39e10b9ec22729e7bc9904fcef

[2021-05-17 12:20] MarijnS95 commented on #1140
The GTK doc is probably using `#true` here instead of `%true`?

[2021-05-17 12:21] MarijnS95 commented on #1140
@bilelmoussaoui If we were to "fix" this to hide `crate::` again the broken link would still be turned into ``[`true`](crate::true)`` unless the source doc is fixed to use `%`.

[2021-05-19 12:42] bilelmoussaoui commented on #1105
This was actually fixed, thanks a lot @fengalin

[2021-05-19 12:42] #1105 closed

[2021-05-19 15:42] bilelmoussaoui commented on #464
@GuillaumeGomez this can be closed btw

[2021-05-19 15:53] GuillaumeGomez commented on #464
Ok!

[2021-05-19 15:53] #464 closed

[2021-05-19 19:42] bilelmoussaoui commented on #1071
Can be closed https://gtk-rs.org/gtk-rs-core/git/docs/glib/struct.BindingFlags.html#associatedconstant.DEFAULT

probably was an issue in the old docs generation way

[2021-05-19 19:43] bilelmoussaoui commented on #1070
This one should be pretty easy to do, do you want to tackle it? otherwise I can have a look at it

[2021-05-19 19:48] Hofer-Julian commented on #1070
Thanks for asking, I'll probably focus on other things this weekend. If you have capacity it would be nice if you look at it 😊

[2021-05-19 19:49] Hofer-Julian commented on #1071
Nice!

[2021-05-19 19:49] #1071 closed

[2021-05-20 06:39] #1095 closed

[2021-05-23 07:37] #955 closed

[2021-05-23 07:53] #1115 closed

[2021-05-23 15:40] #1070 closed

[2021-05-23 16:55] bilelmoussaoui opened #1157 "Builder pattern needs a manual state as well"
Currently you can either enable or disable a builder, there's no way to mark it as manual which makes it impossible to document the manual builder because gir has no way to know it's generated.

We only have two of them in gtk4-rs, see for example https://gtk-rs.org/gtk4-rs/git/docs/gtk4/struct.DirectoryListBuilder.html

this is a very low priority issue but will see if I can find the time for it

[2021-05-23 17:36] bilelmoussaoui opened #1158 "Use Error out params in a new sections for functions docs"
Currently `GError**` 's docs are completely ignored, instead maybe we can add a new section after ` # Return` like `# Error?` that would print the error's docs so that we have a way to know when the function fails

cc @MarijnS95 @sdroege

[2021-05-23 17:50] sdroege commented on #1158
That would be useful, yes. Also which error domain(s) would be returned.

[2021-05-23 17:57] MarijnS95 commented on #1158
Sounds like a nice addition, just like how we have `# Return(s)` and `# Deprecated` and maybe more sections.

[2021-05-28 20:04] bilelmoussaoui commented on #1140
I wonder whether we should go with Self for a type's methods/constructors instead of the type's name?

[2021-05-28 20:13] MarijnS95 commented on #1140
I'd say neither: at least that's what we did previously and it looks concise and clean. Afaik there are few enough free functions that a function name without type name implies it is a function on the current type - and it's a link anyway, so it doesn't really matter at the end of the day.

However, for mental sanity and short-ness I've used Self:: in the link-part (that you don't see).

[2021-05-29 00:05] MarijnS95 commented on #1140
Having worked on this some more on Bilel's branch, it is a really tricky subject. We have two parts:

1. The visual name/item-path in the documentation;
2. The actual item path in the (Rust) documentation (used by rustdoc to generate the right page link).

This issue mainly concerns the first bulletpoint, so I'll be short on the second. To match earlier behaviour, to shorten/simplify the documenta

[2021-05-31 10:32] bilelmoussaoui opened #1171 "Properties getters/setters for renamed ones are not documented"
Probably caused by as it needs to use the new getter/setter names to look for the function to document

https://github.com/gtk-rs/gir/blob/95ea27fa5d7f05f1111f9905c271dd00a863d82d/src/codegen/doc/mod.rs#L726-L737

[2021-05-31 13:49] #1109 closed

[2021-05-31 14:07] bilelmoussaoui commented on #1140
This can be closed now as well

[2021-05-31 14:14] #1171 closed

[2021-05-31 14:20] #1140 closed

[2021-06-01 12:19] unrelentingtech opened #1174 "Pointer-to-enum out parameter not handled correctly"
We have this source:

[code]

[code]

Old gir didn't generate API for this function at all, but the current git version does this:

[code]

Which, uh

[code]

Adding out-parameter annotations

[code]

didn't change the generated code.

[2021-06-01 12:28] unrelentingtech commented on #1174
Oops, sorry, adding the annotations does change the code. I just realized that the generate script with `--strip-docs --embed-docs` *only* does the docs…

[2021-06-01 12:28] #1174 closed

[2021-06-04 15:19] GuillaumeGomez commented on #1081
This isn't applied on enum either, that's weird.

[2021-06-05 07:26] #1081 closed

[2021-06-10 15:37] JAicewizard opened #1183 "Strings passed to c should not use `&str`"
using `&str` means that the function can panic when it contains a null-byte without the ability for the user to make sure it doesnt.
To avoid breaking compatibility, I dont think its a good idea to convert it to `&Cstr` or `CString` because it would be annoying to convert it everywhere it is used.

I started on an implementation that uses `ToGlibPtr<'X, *{mut/const} libc::c_char>+'X` where X is th

[2021-06-10 15:57] JAicewizard commented on #1183
I found the issue.

It amazes me that out of all the minutes in a day, the 10 minutes _after_ you ask a question you find the answer to what you have been looking for a whole day.

Anyways, the question remains, is there any interest in this? It would certainly help in cases where the user wants to catch the null byte in strings, since currently that requires double work.

[2021-06-10 17:05] sdroege commented on #1183
Can you outline how that would look like API-wise and what effect it would have on the various string-based APIs in the bindings?

[2021-06-11 06:28] sdroege commented on #1183
The idea sounds good and especially it would also allow us to pass strings to the functions without the inherent copy that exists right now to add the `\0` at the end.

I don't like the complexity of the trait bound in your example (it shows up in documentation and users won't have any idea that they can pass a string literal or any kind of string-like type there without reading more docs), so `In

[2021-06-11 14:33] JAicewizard commented on #1183
I got it to compile, but also found some non-compatible things. Mostly callbacks used to take `&str` and possibly some more.
I tried my new patch on `gtk-rs-core` and all the tests work fine there, but I dont think those cover the whole API. I will put the code I have right now into a PR to this repo.

Another one is that since most things are using a refmode, I and up having to kind of hack aroun

[2021-06-18 15:34] GuillaumeGomez opened #1190 "Generate warnings in docs before C code examples"

[2021-06-21 15:51] #1190 closed

[2021-06-23 15:31] sophie-h opened #1197 "Gir links ExtManual instead of Ext in docs"
This warning only appears since a few weeks. The `WigetExt` function actually exists. It also happens for `GtkWindowExt`. Currently is gives 328 broken links in libhandy. (Fixed it with regex for now.)

[code]

[2021-06-24 23:53] ZanderBrown opened #1198 "Rename?"
The name `gir` is incredibly confusing/ambiguous causing many a confusion (and the odd accidental insult)

Some ideas
- `g-ir-rustgen`
- `gi-oxidiser`
- `g03`

[2021-06-25 09:34] sdroege commented on #1198
Sounds good to me. @bilelmoussaoui @GuillaumeGomez ?

[2021-06-25 09:38] GuillaumeGomez commented on #1198
None of the suggested names mean much to me... :-/

[2021-06-25 09:40] sdroege commented on #1198
`gir` means something to you? :)

[2021-06-25 09:45] GuillaumeGomez commented on #1198
Not much either (I'm not opposed to changing the name, just prefer something more explicit at least XD).

[2021-06-25 11:36] ZanderBrown commented on #1198
@GuillaumeGomez `g-ir-rustgen` is a sort of hybrid of the core g-i tools (i.e. `g-ir-scanner`) and rust other binding tools (i.e. `wasm-bindgen`)

[2021-06-25 11:38] Hofer-Julian commented on #1198
Maybe `gir-rustgen`?

[2021-06-25 12:01] GuillaumeGomez commented on #1198
`gir-rustgen` sounds better indeed.

[2021-06-26 15:37] sdroege opened #1199 "gir tutorial needs some improvements"
0. It should apparently be made more clear that `Cargo.toml` and `src/lib.rs` at least have to be manually written, and that there should also be a `prelude` module re-exporting all traits
1. `bitflags` and `once_cell` / `lazy_static` should be added as crate dependencies as needed
2. The part about the initialization macros is not clear. When are they needed, what should they do, when can they be

[2021-06-28 20:10] LoveIsGrief commented on #353
I'm currently running into the issue of mutating data in a callback and as a rust beginner, being forced to use `RefCell` is not only verbose and "boilerplatey" (can be wrapped in a macro of course) but also not immediately apparent. Is there a reason `FnMut` cannot be used? Would existing code break?

[2021-06-29 06:10] sdroege commented on #353
Your signal handler can cause the signal to be emitted again, which would call your signal handler from itself. That breaks the requirements of `FnMut` (and in case of `RefCell` can lead to a panic if you don't release the borrow early enough again inside your signal handler).

[2021-06-29 13:01] LoveIsGrief commented on #353
Would that stop FnMut from compiling?If it compiles and  RefCell can lead to a panic, maybe using FnMut might be more desirable. There is no boilerplate code necessary and it's more accessible to users new to Rust or Gtk.

Or can arbitrary data be stored in the properties of Gtk components? Then the current signatures could stay and only a hint +example in the documentation would be necessary.

[2021-06-29 13:50] sdroege commented on #353
No, it would compile and would be unsound then, leading to undefined behaviour.

If you create a subclass of a GTK widget then you can store whatever data you want together with the widget.

[2021-07-03 15:46] nmlt opened #1200 "Generated documentation for gtk4::Widget is broken"
The first error seems to be in the fourth paragraph under [this](https://gtk-rs.org/gtk4-rs/stable/latest/docs/gtk4/struct.Widget.html#building-composite-widgets-from-template-xml) heading, there are two backticks in the end to close an inline code block.
Edit: I investigated a bit further and the problem seems to be a ` ``<template>`` ` that is enclosed in two backticks instead of just one. And t

[2021-07-08 09:57] MarijnS95 commented on #1058
This was fixed in #1101.

[2021-07-08 09:57] #1058 closed

[2021-07-12 14:47] keltrycroft opened #1202 "Cannot disable gir auto generating fmt::Debug"
As the title says it seems there's no way currently to disable gir from auto generating fmt::Debug. There is already `generate_display_trait` for manually implementing Display, Debug should also be able to be manually implemented.

[2021-07-13 06:50] sdroege commented on #1202
Which types are we talking about exactly? The `Debug` impl on GObjects can't be disabled because that would lead to coherence problems, but on boxed/shared types the `glib::wrapper!` macro has support for that and IIRC that can also be configured in the `Gir.toml`.

[2021-07-13 21:55] keltrycroft commented on #1202
I was looking at ShortcutTrigger specifically

[2021-07-14 06:20] sdroege commented on #1202
That's a GObject. The problem here would be that depending on which type you have it (`glib::Object`, `gtk::ShortcutTrigger` or any of the others), the `Debug` impl would behave differently. That's suboptimal and can cause all kinds of problems.

The solution here would be to have this be handled via dynamic dispatch, which would require something like a `Debug` interface inside `GObject`.

[2021-07-23 23:07] ItzSwirlz opened #1203 "Crash generating sys for xapp"
mouse broke, so for now have a picture, since terminal is annoying copying. I pushed the source to https://github.com/Ubuntu-Cinnamon-Remix/xapp-rust. Fedora 34
![Screenshot from 2021-07-23 19-06-18](https://user-images.githubusercontent.com/24401303/126849205-75fd5bdb-f653-40f1-abc5-90bcb54c4c97.png)

[2021-07-26 14:43] bilelmoussaoui commented on #1203
The issue is caused by your GIR file, it needs a `name` in the `package` tag. It would look like this `<package name="gobject-2.0"/>` at the top of the file.

[2021-07-26 19:17] bilelmoussaoui opened #1204 "Make use of the new final flag"
See https://gitlab.gnome.org/GNOME/glib/-/merge_requests/1937

[2021-07-27 05:35] sdroege commented on #1203
We should maybe provide a better error message here instead of just panicking

[2021-07-27 08:18] bilelmoussaoui opened #1205 "Special case when a bool is returned instead of a gboolean"
Currently, gir assumes that a gboolean is used without checking the `c:type`.

See https://github.com/ebassi/graphene/issues/234#issuecomment-887259734

Ideally, it would check and based on whether it's a gint or not, uses FromGlib/IntoGlib traits

[2021-07-27 08:28] sdroege commented on #1205
It should be relatively easy to handle in gir: it would be handled like `i32` / `gint`, just that we'd have `bool` instead. The main question is how to detect this reliable from the .gir file, what the heuristic should be.

[2021-07-31 17:41] ItzSwirlz commented on #1203
Yeah. I had no idea about the issue of HarfBuzz until GirXml was run. It should be run again on the gir we are generating

[2021-08-11 18:08] A6GibKm opened #1208 "Improve naming of native async methods"
Whenever (I am looking at you gtk-rs/gtk-rs-core#203) there are bindings to async function `fn f` in gio, there is also a `async fn f_future`. This leads to excruciatingly long function names like `replace_contents_async_future`, or even worse the not-yet-implemented `replace_contents_bytes_async_future`.

It could make more sense to just do a `s/async/future/`, e.g. `replace_contents_future` inst

[2021-08-21 15:36] GuillaumeGomez opened #1209 "Add support to update callback parameters"
For now, only signal callback parameters can be update through the `Gir.toml` file. It'd be nice to extend it to function with callbacks.

Something like:

[code]

[2021-08-28 18:54] mahkoh opened #1216 "List of implementors is incomplete"
The list of implementors of `*Ext` traits is auto-generated but is not exhaustive. For example, `Scale` does not appear under `WidgetExt`. The generation process should be fixed or if this is not possible, a note should be added in the documentation that the list is not necessarily complete.

[2021-08-31 11:44] sdroege opened #1214 "Update to system-deps 4"
@GuillaumeGomez Contains your changes to drop lots of dependencies.

[2021-08-31 11:55] GuillaumeGomez commented on #1214
I'll do it then. :)

[2021-08-31 12:48] #1214 closed

[2021-09-03 09:06] #1209 closed

[2021-09-03 11:55] GuillaumeGomez opened #1219 "Don't recompute callback signature for bounds"
As seen in https://github.com/gtk-rs/gir/pull/1217, the callbacks' signature is recomputed for the bounds, which also brings another problem: when recomputing it in bounds, we use the "original" definition of the callback, which is problematic when a callback parameter was modified (as seen in https://github.com/gtk-rs/gir/pull/1218).

[2021-09-08 10:26] tintou opened #1220 "Issue with preprocessor macros precision"
I'm trying to create the bindings for libshumate (here https://gitlab.gnome.org/tintou/libshumate-rs ) but I have an issue with some constants:
[code]
I'm unsure how to process here, the Rust values are the exact ones from the Introspection while the C one seems rounded.

[2021-09-08 10:41] sdroege commented on #1220
The C values should probably be printed with more precision, or comparisons should be based with some tolerance.

[2021-09-11 08:36] AaronErhardt opened #1221 "Impl Default trait for all widgets that support the builder pattern"
Some widgets like `gtk::Box` or `gtk::ApplicationWindow` don't implement the `Default` trait although you can simple use `Widget::builder().build()` to get a default widget. Currently, this workaround based on the builder pattern is used by Relm4 to get more default configurations for its widget macro with the [`DefaultWidget` trait](https://aaronerhardt.github.io/docs/relm4/relm4/util/default_wid

[2021-09-13 05:58] sdroege commented on #1221
This sounds useful. Do you want to provide a PR for this?

[2021-09-13 15:49] AaronErhardt commented on #1221
I can try to provide a PR. Yet I wonder what's the best approach. I could just copy the code from Relm4 to gtk4-rs but that wouldn't be a really clean solution. Maybe gir is the right place for this but I don't know enough about gir to know where to start.

[2021-09-15 19:08] AaronErhardt commented on #1221
@sdroege @Hofer-Julian is there any progress on this issue? As I said, I can provide a PR, but I need some guidance because I'm new to gir. And I wonder if this can even be automated or whether I should just implement it manually in gtk4-rs (and libadwaita-rs).

[2021-09-15 19:22] Hofer-Julian commented on #1221
The Default impl for Button is in the generated gir file so it might be reasonable to autogenerate the missing ones for other widgets as well.

https://github.com/gtk-rs/gtk4-rs/blob/a7b3c61fd95a57a980bf17442e5861f58b32c1ad/gtk4/src/auto/button.rs#L82

Unfortunately I also have no experience with gir and cannot provide guidance

[2021-09-15 19:34] AaronErhardt commented on #1221
I think gir simply implements `Default` for all types that have a `Self::new()` function without parameters. Like `gtk::Button::new()`.

However types such as Box that use `gtk::Box::new(orientation: Orientation, spacing: i32)` the `Default` trait implementation isn't as simple as calling `new()`. Even the original GTK function for creating a Box takes parameters, in other words, there's no defaul

[2021-09-16 06:22] sdroege commented on #1221
That's a general problem with the builders. The default values are taken from the default property values of the types.

For implementing `Default` for everything that provides a builder, you could simply let gir generate code that creates the builder and then directly creates the object out of it.

Check in gir where the builders are created. As part of that it should be relatively easy to put a

[2021-09-16 06:41] Hofer-Julian commented on #1221
@slomo do you agree that if a builder is available, it should always be used for Default over new?

[2021-09-16 06:46] sdroege commented on #1221
No, I would use the explicit `new()` function if it's available. It might do something more sensible.

[2021-09-16 07:19] Hofer-Julian commented on #1221
I have to check later, but I was really hoping that builder().build() does exactly the same thing as new() in all instances.

[2021-09-16 07:27] sdroege commented on #1221
`new()` calls a C function that could do anything to provide a "default" object, `builder().build()` calls `glib::Object::new()` with the default values for each property. Ideally these are the same but that's not necessarily the case, and `new()` would be what the library developer considered a "default" instance.

[2021-09-16 10:15] AaronErhardt commented on #1221
I wonder if `glib::Object::new()` is acceptable because that would be a pretty simple solution. If `new()` takes no parameters we could use it and otherwise `glib::Object::new()`.

The only other solution would be to use `new(...)` and implement `Default` manually for each widget. Yet, widgets such as ApplicationWindow would be a bit weird to implement because you'd have to create and pass a new a

[2021-09-16 10:25] sdroege commented on #1221
Yes, calling `glib::Object::new()` with no parameters would initialize all properties to their default values.

[2021-09-19 09:00] #1221 closed

[2021-10-03 16:29] A6GibKm opened #1231 "Missing #cfg guard for multiple glib::wrapper!"
Using the latest gir in libhandy-rs it generates multiple wrappers for a struct, e.g.

[code]
Both should have a #cfg guard with different version requirements.

Reproducer:  Update libhandy-rs's gir submodule and regen bindings.

Related: https://github.com/gtk-rs/gir/pull/1230

[2021-10-04 07:02] sdroege commented on #1231
[code]

Is also a problem. This happens because of handy and GTK mixing version numbers inside `gir`, which is something we observed before already and seems to be a deeper problem inside `gir`. @bilelmoussaoui do you remember?

[2021-10-04 07:07] sdroege commented on #1231
But I don't get the situation you showed above. What I get is

[code]

That should activate exactly one of the two at build time, not both at once. However it looks like this has the same version mess as `HdyActionRow`.

I think there's something to fix up here inside `gir` that is broken since a longer time already. Two things are needed IMHO
1. Prefixing the version features of dependency crates

[2021-10-11 06:53] sdroege opened #1235 "Switch from xml-rs to quick-xml"
The API is very similar so it shouldn't be too hard, and it's an order of magnitude faster.

[2021-10-20 14:03] bilelmoussaoui opened #1236 "Support BoxedInline without a get_type function"
currently gir panics when it encounters a type that doesn't have a get_type function
[code]
cc @sdroege

[2021-10-27 12:19] lucab opened #1238 "Support custom visibility on generated functions"
This is a new-feature request to support generating specific functions with custom visibility.

Right now auto-generated functions get a `pub` visibility modifier by default. In some cases, it would be useful to auto-generate some entries with `pub(crate)` visibility (for example), so that they can be used to build higher-level ergonomic Rust patterns in the same crate without exposing the low-lev

[2021-10-30 14:22] MarijnS95 commented on #1009
@GuillaumeGomez Is it time to flip this back on? I read somewhere that `#[cfg]` is now picked up without requiring `#[doc(cfg())]` too? Is the second issue still a problem in practice?

[2021-10-30 14:25] GuillaumeGomez commented on #1009
It's nightly only for now and requires to enable the feature.

[2021-10-30 14:26] MarijnS95 commented on #1009
@GuillaumeGomez Sure, the "advantage" of the current solution is that you can still build (incomplete) docs on `stable` as long as `dox` is not set. docs.rs already builds with nightly though.

[2021-10-30 14:27] bilelmoussaoui commented on #1009
Note that our current docs require nightly as well

[2021-10-30 14:33] GuillaumeGomez commented on #1009
gtk-rs documentation generated on docs.rs is mostly useless unfortunately. Also, we'd need to use `cfg_hide` to not display too many `cfg`s (because we might have some only needed for docs in any case). So not a straightforward conversion.

True, but relying on a very recent nightly feature which is not complete yet (I need to send some follow-ups) is not the best idea here I think.

[2021-10-30 14:39] MarijnS95 commented on #1009
In GStreamer we already have a (by accident, in the GL windowing modules I added probably right during this back-and-forth transition) `#![cfg_attr(all(not(doctest), doc), feature(doc_cfg))]` that doesn't compile on stable rustdoc anyway.

@GuillaumeGomez Yes, we'd have to do the transition atomically. If we just start relying on not needing `doc(cfg())` anymore the `feature="dox"` will show up un

[2021-10-30 14:42] GuillaumeGomez commented on #1009
There is `cfg_hide` for that. :3

[2021-10-30 14:43] MarijnS95 commented on #1009
@GuillaumeGomez Sure, but I don't like that :|

[2021-10-30 14:47] GuillaumeGomez commented on #1009
On one hand, we can remove all `doc(cfg)`, but on the other we have to also use `cfg_hide` globally to avoid having some `cfg`s showing up. For me it seems like a big win. Just that I'd prefer to wait a bit before doing that.

[2021-10-30 14:53] MarijnS95 commented on #1009
@GuillaumeGomez Yes, using `cfg_hide` to just statically hide `doc` is a lot more convenient than having to emit a dynamic `doc(cfg())` that duplicates whatever was written in `#[cfg()]` (minus the things we don't want to show up, but I'd just have liked if `doc` didn't show up at all.

Surely that may confuse something as `--cfg doc` _does_ enable that codepath, so it makes sense to show up witho

[2021-10-30 14:54] GuillaumeGomez commented on #1009
We had issues only relying on `cfg(doc)`, don't remember which but it was quite painful.

[2021-10-31 07:12] bilelmoussaoui opened #1246 "Allow targeting self parameter in a function configuration"
Currently, I have this function that's generated automatically

[code]

Of course, that's completely wrong because self shouldn't be `&mut` here. So I want to override it by setting `const = true` for the self parameter, except that doesn't work with

[code]

but it does work with `pattern = "*"`

[2021-10-31 09:07] bilelmoussaoui opened #1247 "Handle copy types for slice parameters"
Currently, if a function takes a slice as a parameter, it uses the `&[&SomeType]` by default even if the type is Copy. Instead it should use `&[SomeType]`.

This will allow us to drop a bunch of manual code where a `&[gdk::RGBA]` is used for example.

[2021-10-31 09:32] sdroege commented on #1247
Yeah I also noticed that a few times already.

[2021-10-31 16:57] sdroege opened #1249 "Clean up string special handling"
Currently there are various string special cases all over the code, many of them looking similarly.

Searching for `is_gstring`, `is_str`, `GString` gives some of the worst places. This should probably be refactored so that the normal type translation can be used, owned strings are everywhere mapped to `GString` and reference strings to `&str`. The same works fine for `&Path` / `PathBuf` apparentl

[2021-11-02 17:28] fengalin opened #1252 "RFC: generate `NONE` constants as associated constants"
## NONE constants

For [non "final types"](https://github.com/gtk-rs/gir/blob/8663b33dd5e8c284013c5ff5d306cc04b578d4d4/src/codegen/object.rs#L275), `gir` generates a constant in the form:

[code]

This allows passing `NONE_PAD` as an argument instead of the verbose `Option::<&Pad>::None`.

These constants are explicitly re-exported so that they bubble up to the crate's scope ([see in codegen](http

[2021-11-02 17:50] sdroege commented on #1252
I like this and would vote for 3. Personally I think these constants shouldn't really exist anyway but apparently it's making things easier for beginners.

[2021-11-02 17:51] sdroege commented on #1252
CC @bilelmoussaoui @GuillaumeGomez

[2021-11-02 18:11] bilelmoussaoui commented on #1252
I would vote for 3 as well, looks way nicer imho.

[2021-11-02 18:31] GuillaumeGomez commented on #1252
3 as well!

[2021-11-02 18:33] fengalin commented on #1252
Great! I'll start working on it tomorrow.

[2021-11-04 17:23] #1252 closed

[2021-11-11 10:42] #1099 closed

[2021-11-11 10:42] #1231 closed

[2021-11-11 14:08] #1096 closed

[2021-11-12 16:18] sdroege opened #1260 "Don't use `c_void` for opaque types"
See https://github.com/gtk-rs/gtk-rs-core/pull/336/files#diff-af5a819a4ebc76576d04a2c9cfda6b5338d7d6466bca627894a7d3fdc1681afaR78

[2021-11-12 16:50] bilelmoussaoui opened #1261 "Regression after the switch to impl in arguments"
after the switch to having `impl` in the arguments, a regression was introduced where such code is generated

Before:
[code]

After
[code]

The `cancellable.to_glib_none().0` should be `cancellable.map(|p| p.as_ref()).to_glib_none().0,` instead

[2021-11-12 17:00] GuillaumeGomez commented on #1261
Adding it to the blockers for next release.

[2021-11-12 17:02] bilelmoussaoui commented on #1261
Maybe @MarijnS95 might have an idea about?

[2021-11-12 17:04] MarijnS95 commented on #1261
@sdroege Pinged me about code containing exactly that map in https://github.com/gtk-rs/gir/pull/1245#issuecomment-954856146 - don't know if anything was resolved around it?

[2021-11-12 17:06] MarijnS95 commented on #1261
The strange thing being that this is an `Option<&P>` which holds a  borrow already - why do you need to call `as_ref()` on `P: IsA`?

[2021-11-12 17:20] bilelmoussaoui commented on #1261
What is it converting into? to the parent type; a gio::Cancellable. That's how all the subclassable type works right now

[2021-11-12 17:48] sdroege commented on #1261
Why does it generate the correct code for all the same pattern in `gio`? :) That was one of the testcases when doing my changes recently.

[2021-11-12 17:53] bilelmoussaoui commented on #1261
No idea at all, if you can give me some tips where I should look at I can give it a try

[2021-11-12 18:07] sdroege commented on #1261
The MR that broke it should be https://github.com/gtk-rs/gir/pull/1245.

[2021-11-16 08:46] bilelmoussaoui commented on #1260
This can be closed now btw

[2021-11-16 08:52] #1260 closed

[2021-11-16 13:40] bilelmoussaoui commented on #801
@BrainBlasted Is this still an issue btw? I don't think so

[2021-11-16 13:41] bilelmoussaoui commented on #1112
Seems to be a duplicate of https://github.com/gtk-rs/gir/issues/705

[2021-11-16 13:41] #1112 closed

[2021-11-16 13:43] bilelmoussaoui commented on #661
As per #919, this doesn't sound like a viable approach. Maybe the issue should be closed?

[2021-11-16 13:44] sdroege commented on #661
IIRC we use quote in a few places. Let's just do that where it's useful.

[2021-11-16 13:44] #661 closed

[2021-11-16 14:33] #271 closed

[2021-11-16 14:33] #976 closed

[2021-11-16 17:51] #801 closed

[2021-11-16 21:07] bilelmoussaoui commented on #1063
I think this was handled already?

[2021-11-16 21:19] #1063 closed

[2021-11-16 21:21] bilelmoussaoui commented on #799
Note that global functions per see are already supported; but we still need a way to define that they are part of a trait.

[2021-11-16 21:32] bilelmoussaoui commented on #1036
I see why it fails, the GIR file lacks a package name like here https://github.com/gtk-rs/gir-files/blob/master/Atk-1.0.gir#L7, we need a better error message for such case

[2021-11-16 21:38] bilelmoussaoui commented on #1030
Indeed, let's keep only one of the issues open

[2021-11-16 21:38] #1030 closed

[2021-11-17 10:33] #998 closed

[2021-11-18 09:28] bilelmoussaoui opened #1269 "generator script should remove src/auto before regen"
Otherwise removed files (no longer generated ones) are kept there and you might end up forgetting to drop them

[2021-11-18 10:00] GuillaumeGomez commented on #1269
Good point!

[2021-11-18 10:26] sdroege commented on #1269
Let's hope nobody puts other files into `src/auto` and expects them to survive :)

[2021-11-18 10:31] GuillaumeGomez commented on #1269
They'll learn the way. :D

[2021-11-18 11:02] #1269 closed

[2021-11-19 17:58] #1200 closed

[2021-11-23 08:36] sdroege opened #1276 "Stop using/importing `libc::time_t` in -sys crates"
[code]

[2021-11-28 17:16] arcnmx commented on #1036
I just ran into this in the wild, but from what I can tell the [package attribute is deprecated](https://gitlab.gnome.org/GNOME/gobject-introspection/-/blob/master/docs/gir-1.2.rnc#L86), and so presumably this shouldn't be an error or required at all?

[2021-12-02 16:51] sdroege opened #1278 "Use `#[must_use]` for the builder types"
See https://github.com/gtk-rs/gir/pull/1277/files#r761275475

CC @bilelmoussaoui @GuillaumeGomez

[code]

[2021-12-02 16:56] lucab opened #1279 "codegen: assert that TRUE is returned XOR the GError is set"
From the [glib guide](https://docs.gtk.org/glib/error-reporting.html):

Right now `gir` generates function wrappers like these:
[code]

So the auto-generated Rust logic can totally miss those "undefined behaviour" cases where `FALSE` is returned but no GError is set (hopefully it never gets into those cases, but ...).
Worse, those cases will end up in the `Ok(...)` happy path from the point of vie

[2021-12-02 17:01] sdroege commented on #1279
Yes, go for it :)

[2021-12-02 17:11] cgwalters commented on #1279
We had a big chat about this on Matrix (and also some between luca and me on a private chat system) and I'm just writing down my 2¢ which is:

In modern times, `g_return_if_fail()` is almost always a bad idea and should be replaced with one of:

- `g_assert()`
- Returning a GError
- Rust

In particular for ostree because the whole thing is transactional/restartable/stateless, we can always cleanly

[2021-12-02 17:20] lucab commented on #1279
Yes for context I spot this on `ostree-rs`, where the underlying C library accumulated ~200 of those `g_return_val_if_fail (..., FALSE)` over time. And I'm guilty of adding several of them quite recently as I was unaware of this potential undefined corner case.
We can/should clean up libostree, but I think this pitfall does not only apply to this library and me.

[2021-12-03 10:58] #1278 closed

[2021-12-07 11:46] #1279 closed

[2021-12-08 10:56] #1276 closed

[2021-12-08 11:00] #799 closed

[2021-12-09 12:36] #1208 closed

[2021-12-14 21:29] A6GibKm opened #1288 "More generic argument in callbacks"
When you have objects A and B, where B is a subclass of A, the callback functions of A will take `a: &A` as their argument, forcing one to always do `let b = a.downcast::<A>().unwrap()`.

It might be interesting if such callbacks were generated with a `&glib::IsA<A>` instead of `&A`.

[2021-12-15 07:12] bilelmoussaoui commented on #1288
Mind sharing some examples where such change could be needed?

[2021-12-15 08:39] A6GibKm commented on #1288
For example https://gtk-rs.org/gtk4-rs/git/docs/gtk4/struct.ListBox.html#method.connect_row_activated, the row parameter is not generic.

I forgot that indeed the first parameter is always generic, this only applies to the parameter that do not refer to the subclassed class itself.

[2021-12-15 10:08] sdroege commented on #1288
It can't really. It can't know what type is returned there (and you could even have a mix of different types), so the most generic type (`ListBoxRow`) has to be returned and your code has to check what it actually is and cast accordingly, if needed.

[2021-12-15 12:16] #1288 closed

[2021-12-26 12:58] bilelmoussaoui commented on #1238
That's something I will look into today, so that it unlocks https://github.com/gtk-rs/gtk-rs-core/pull/412

[2021-12-29 15:01] wash2 opened #1295 "Panic on GIR not_bound mode for GModule"
I'm working on generating bindings to GModule but it panics in not_bound work_mode. I added some debug statements to the point where it was unwrapping, and I've attached the output of each of the failing types:
[code]

Also, it seems like the generation is failing, partially bc of missing memory management functions and unsupported output.. Does this mean that the safe bindings would all have to b

[2021-12-29 15:05] bilelmoussaoui commented on #1295
That looks like a duplicate of #1236

[2021-12-29 15:10] wash2 commented on #1295
Ok thanks, do you know how difficult of a bug this might be to fix, or where to start working on it? I would be willing to give it a shot.

[2021-12-29 15:15] bilelmoussaoui commented on #1295
It shouldn't be hard, you need to modify the code in https://github.com/gtk-rs/gir/blob/master/src/codegen/record.rs#L17-L35
to allow passing a None for the get_type function, and modify this line https://github.com/gtk-rs/gir/blob/master/src/codegen/general.rs#L428 accordingly

[2021-12-29 15:18] wash2 commented on #1295
Alright, thanks!

[2021-12-30 09:50] #1238 closed

[2022-01-01 11:45] bilelmoussaoui opened #1299 "Support (get|set)-value-func for fundamental types"
See https://github.com/gtk-rs/gir/pull/1294#discussion_r777099465 for details.

For now, you have to manually implement the Value traits and we would like to automate that part as well in the future.

[2022-01-01 11:46] #1069 closed

[2022-01-01 11:51] #1247 closed

[2022-01-01 12:14] bilelmoussaoui commented on #1236
Closing as a duplicate of #1297

[2022-01-01 12:14] #1236 closed

[2022-01-01 15:00] bilelmoussaoui opened #1302 "Provide a configuration to ignore certain properties from the Builder pattern"
There's a use case, in Adw::Window, where you can still call `.child(some_child)` and it should be usable; instead you're supposed to call `.content(some_child)`

Having the other property auto-generated doesn't help.

[2022-01-09 11:46] sdroege opened #1305 "GIO-style async functions should not require `Send` for the callback"
Instead they should enforce that the calling thread (of the async function) owns the main context and add an additional check that the callback is actually called from the same thread as where it was created.

The main context to check for would be the thread default main context, and if there's none then the global default main context.

The way how the functions are currently generated it is har

[2022-01-09 11:48] sdroege commented on #1305
The main context check would be basically [this](https://github.com/gtk-rs/gtk-rs-core/blob/6373fe1b5a850ce06f94135c37f9b07129e500cf/gio/src/gio_future.rs#L62-L66). And that the callback is called from the correct thread could be done via [this](https://github.com/gtk-rs/gtk-rs-core/blob/6373fe1b5a850ce06f94135c37f9b07129e500cf/gio/src/gio_future.rs#L135-L146).

[2022-01-10 10:01] pbor opened #1306 "Fails to handle `<type name="utf8" c:type="gchar**"/>` input param"
This came up in the bindings of `gio::SimpleProxyResolver`.

See for the PR that adds them with a manual override for the `ignore_hosts` param: https://github.com/gtk-rs/gtk-rs-core/pull/458

[2022-01-14 11:00] sdroege commented on #1305
The change would basically look like this.

We should probably make `ThreadGuard` public in `glib` as part of all this.

[code]

[2022-01-14 11:17] sdroege commented on #1305
In any case, I'd like to get this into a 0.15 bugfix release as this seems a bit unusable for GTK applications otherwise.

[2022-01-15 11:42] bilelmoussaoui opened #1307 "Include the readme on ffi generated crates"
if the Cargo.toml has a `readme` field defined, see https://doc.rust-lang.org/cargo/reference/manifest.html#the-readme-field

We should automatically generate a lib.rs that includes it for documentations purposes.  Currently all the crates in gtk-rs don't have a simple README for ffi crate, we should add them as well as part of the issue I guess

[2022-01-17 12:52] bilelmoussaoui opened #1308 "Add a nullable_return_panic"
Add a new option for nullable functions to panic with the message set in `nullable_return_panic`

[2022-01-17 12:54] sdroege commented on #1308
Examples are `gtk_event_controller_get_widget()` and `gtk_stack_get_page()` (see https://github.com/gtk-rs/gtk4-rs/issues/826)

[2022-01-18 12:32] bilelmoussaoui opened #1309 "generate NONE constants for fundamental types"
So that you can pass it to something like https://gtk-rs.org/gtk4-rs/stable/latest/docs/gdk4/prelude/trait.ToplevelExt.html#tymethod.inhibit_system_shortcuts

[2022-01-18 12:41] bilelmoussaoui commented on #1309
Actually, we do generate those. never mind

[2022-01-18 12:41] #1309 closed

[2022-01-19 11:05] bilelmoussaoui opened #1310 "Add a way to disable automatic documentation embedding per type/function"
There are cases where the C documentation doesn't make much sense for Rust code, especially for manually implemented items. So it would be great to be able to disable those.

[2022-01-19 11:07] GuillaumeGomez commented on #1310
Like adding a `doc = false` field?

[2022-01-19 11:11] bilelmoussaoui commented on #1310
yeah

[2022-01-26 12:02] bilelmoussaoui opened #1314 "Allow to generate genric parameters/function returns"
Would be very useful for types that takes/returns a gio::ListModel

[2022-01-26 14:03] yshui commented on #805
Can gir ignore `introspectable=0` elements instead of requiring the user to manually remove them?

[2022-01-26 14:13] bilelmoussaoui commented on #805
You don't have to remove them, just mark them as ignored on the Gir.toml btw

[2022-02-09 10:25] bilelmoussaoui opened #1316 "Investigate why Error quark functiion is not detected properly"
I have left a todo here a few weeks ago https://github.com/gtk-rs/gtk-rs-core/blob/6373fe1b5a850ce06f94135c37f9b07129e500cf/pango/src/enums.rs#L81

[2022-02-20 11:09] bilelmoussaoui opened #1319 "Implement basic vfunc support"
Currently, the parsing part ignores the virtual functions definitions. Ideally we would need:

- [x] Parse the XML for all the various vfuncs
- [x] Have a `[object.subclass]` configuration that would allow you to

    * [x] Modify the subclassing trait, e.g it would be by default called `TypeImpl` & `TypeImplExt` for chaining up
    * [x] Modify the `[object.subclass.vfunc]` by marking at either `

[2022-03-05 10:36] pbor opened #1324 "Add a way to generate `Default` for enums"
It would be great to annotate the default value in `Gir.toml` and have gir generate the corresponding `impl Default`.

[2022-03-05 10:37] bilelmoussaoui commented on #1324
The same thing could be done for flags

[2022-03-06 21:37] GuillaumeGomez commented on #1324
Sounds like fun. I'll give it a try.

[2022-03-07 09:16] bilelmoussaoui opened #1326 "Add a way to mark Builder pattern properties as required"
Sometimes, there are required builder pattern properties. Sadly we currently have to either disable the builder pattern for those cases or to manually implement it. Instead we could provide a setting to set the required builder pattern properties and generate code that requires them to be passed to the builder constructor.

The difficulty here would be figuring out how to do that in a way that we

[2022-03-08 11:12] #1324 closed

[2022-03-15 13:15] sdroege opened #1330 "`GString` changes cause invalid code to be generated"
CC @jf2048

Since https://github.com/gtk-rs/gir/pull/1327 the following is generated in gstreamer-rs. I didn't look at the cause yet.

[code]

[2022-03-21 13:46] takaswie opened #1331 "gir v0.15 inserts assertion to check return value even if throw function returns void"
In API mode, `assert_eq!()` macro is inserted to evaluate `is_ok` variable
which should have return value of function call even if the function returns
void in C API.

For example of [alsa-gobject](https://github.com/alsa-project/alsa-gobject/blob/master/src/ctl/card.c#L191),

[code]

The generated FFI crate has [below API](https://github.com/alsa-project/alsa-gobject-rs/blob/master/alsactl-sys/sr

[2022-03-21 14:08] sdroege commented on #1331
This looks like the correct solution to me. There's no need for configuration here IMHO.

However I would change to be the other way around. Only don't insert the assertion if `void` is returned. In all other cases it's good if the generated code fails to compile because it's unclear what the semantics of the function is and it will have to be manually bound.

[2022-03-22 12:35] takaswie commented on #1331
It makes sense. But I think we can output comment lines for the unclear cases as for unclear function arguments.

I have another idea to use enumeration item tuple of Mode::Throws instead of evaluation in codegen module.
At present it's `bool` but additional enumeration with three cases for the tuple makes it possible to evaluate inner analysis.

For example,

[code]

But tonight and tomorrow I ha

[2022-03-26 02:27] takaswie commented on #1331
I filed merge request at #1333 for the issue. I'm happy if you progress it.

[2022-03-28 13:53] takaswie commented on #1331
Fix merged. Let's close the issue. Thanks for your reviewing.

[2022-03-28 13:53] #1331 closed

[2022-03-30 09:23] bilelmoussaoui opened #1334 "Investigate why empty impl blocks are generated"
There have been a regression lately where empty `impl T` are generated again. See https://github.com/gtk-rs/gtk4-rs/pull/984#discussion_r836290406

[2022-03-30 16:46] #1330 closed

[2022-04-01 14:26] gabbyprecious commented on #1157
@bilelmoussaoui can I work on this?

[2022-04-01 14:27] gabbyprecious commented on #1039
@bilelmoussaoui would love to also take on this

[2022-04-01 14:41] bilelmoussaoui commented on #1157
Sure, go ahead. Let me know if you have any questions

[2022-04-01 21:50] hohilwik commented on #1319
Hi, I would like to work on this. It would take me at least a week to go through the codebase before I can start contributing though, is that okay?

[2022-04-01 21:53] bilelmoussaoui commented on #1319
Sure, make sure to check https://github.com/gtk-rs/gir/pull/604 for inspiration as well.

[2022-04-03 07:16] gabbyprecious commented on #1157
The link returns a 404, I would like to know where I can set up and test the manual building, a file link.

[2022-04-03 18:24] ps-19 commented on #1039
@hfiguiere sir i have a question. if edition="2022" is written (more precisely used) is it better or need to change.

[2022-04-04 08:03] ps-19 commented on #1039
@sdroege @bilelmoussaoui i need feedback.

[2022-04-04 08:04] bilelmoussaoui commented on #1039
It should actually use edition=2022 nowadays.

[2022-04-04 08:08] ps-19 commented on #1039
is this issue is still relevent then?

[2022-04-04 08:08] ps-19 commented on #1039
Thank you for you response.

[2022-04-04 08:10] bilelmoussaoui commented on #1039
Yes it is. Currently the generated Cargo.toml doesn't contain any `edition` specified.

[2022-04-04 08:12] gabbyprecious commented on #1157
@bilelmoussaoui please I would like to know

[2022-04-04 08:14] bilelmoussaoui commented on #1157
You could find the Builder here https://gtk-rs.org/gtk4-rs/stable/latest/docs/gtk4/builders/struct.DirectoryListBuilder.html but that is just an example. Currently there is a `generate_builder = true/false` config for each object, that has to be moved from a boolean state to a tri-state. Something like `builder_status = "generate" / "manual" / "ignore"`

[2022-04-04 08:18] ps-19 commented on #1039
https://github.com/gtk-rs/gir/blob/master/Cargo.toml#L11 it is containing here.

[2022-04-04 08:28] bilelmoussaoui commented on #1039
That is for the gir project, not for the projects generated with gir itself which is what this issue is about

[2022-04-04 09:04] ps-19 commented on #1039
@bilelmoussaoui sir can you please describe me the steps required to reproduce the issue.

[2022-04-04 09:07] bilelmoussaoui commented on #1039
Please have a look at how to generate the bindings using gir first. E.g https://gtk-rs.org/gir/book/tutorial/sys_library.html

[2022-04-04 12:46] hfiguiere commented on #1039
There is a 2022 edition?
I know that Debian Bullseye still doesn't recognize 2021 with the distro provided rust toolchain...

[2022-04-04 12:49] bilelmoussaoui commented on #1039
Oh sorry, it is 2021.

[2022-04-06 09:47] RealKC opened #1338 "Allow ignoring some items from doc generation"
This would be useful when you need to manually write docs for a function for example

[2022-04-06 09:58] bilelmoussaoui commented on #1338
Duplicate of https://github.com/gtk-rs/gir/issues/1310

[2022-04-06 09:58] #1338 closed

[2022-04-06 12:34] qinqon opened #1340 "Generating bindings for NM.Client warns with "has unsupported outs""
I am generating the NetworkManager libnm rust binding for the NM.Client but the construtor "new" does not get generated

This is the output the first one should be the constructor

[code]

The generated code
[code]

The FFI
[code]

Gir
[code]

sys Gir
[code]

[2022-04-06 12:49] qinqon commented on #1340
@bilelmoussaoui worked thanks! I was thinking the issue was the return value not ref argumetns

[2022-04-06 12:49] #1340 closed

[2022-04-07 06:52] #1310 closed

[2022-04-07 07:02] sdroege opened #1343 "Remove is_windows_utf8 configuration"
See https://github.com/gtk-rs/gir/issues/375 for background.

This change is not needed anymore since GLib 2.54, see https://bugzilla.gnome.org/show_bug.cgi?id=780634 . The `_utf8()` and non-`_utf8()` versions of the code are doing the same thing on Windows and are just staying around for binary compatibility.

Previously on Windows (more than 20 years ago!) there were no `_utf8()` versions on Win

[2022-04-10 10:04] jim4067 commented on #1343
Hello @sdroege I'd love to look into this.

Since `is_windows_utf8` function is no longer required, I'll mostly be removing the function from the codebase? and making sure not to break anything?

[2022-04-10 11:02] sdroege commented on #1343
You'd remove it from here and then update `gtk-rs-core` and `gtk3-rs` to not make use of it anymore

[2022-04-10 12:35] ps-19 commented on #1076
@bilelmoussaoui @Hofer-Julian sir link is broken in first post.

[2022-04-10 12:36] ps-19 commented on #1076
can you please mention steps to remove this issue. I have lot of works related to college, internship.

[2022-04-10 12:52] GuillaumeGomez commented on #1076
You can always wrap the properties in a `<details>` tag. It would like this:

## Properties

<details>
<summary>Click to see the list of properties</summary>
<ul>
<li>list</li>
<li>of</li>
<li>properties</li>
</ul>
</details>

[2022-04-10 13:12] bilelmoussaoui commented on #1076
The idea is to modify the generated docs (see src/codgen/docs) to make it generate a list of the properties/signals.

[2022-04-11 00:04] pentamassiv opened #1346 "-sys crates not found"
TLDR:

I believe I stumbled upon three issues:

- [ ] Ensure that glib, gdk and gtk are present as dependencies if a Cargo.toml file already exists
- [x] Change link for gdk and gtk crates to https://github.com/gtk-rs/gtk3-rs
- [x] Rename the sys packages to the "regular"/safe wraper crate

Hi,
thank you for gir and gtk-rs. Its a great project! I believe I found some minor issues though.

I wanted

[2022-04-11 06:50] jim4067 commented on #1343
I haven't seen any `is_windows_utf8` in the gtk3-rs

[2022-04-11 07:42] sdroege commented on #1343
Indeed, it's only used in gtk-rs-core. Thanks for checking!

[2022-04-11 07:49] sdroege commented on #1346
Do you want to add this via a PR to the book?

[2022-04-11 07:57] bilelmoussaoui commented on #1346
Not only the book but we need to fix the generator for the -sys crates to make it produce the renamed crates as well. Too many people asked about it so far

[2022-04-12 23:07] pentamassiv commented on #1346
Ultimately I also think correcting the links and renaming the crates would be cleaner. Maybe I can have a look at fixing that next week. I'm guessing https://github.com/gtk-rs/gir/blob/master/src/codegen/sys/cargo_toml.rs should be the correct file to look at.

[2022-04-13 18:58] bilelmoussaoui commented on #1122
Hi @Rakielle, please go ahead :) let me know if you need help figuring this one out.

[2022-04-13 19:25] Rakielle commented on #1122
Thank you @bilelmoussaoui, I was having an issue joining the Matrix chat. I sent you a mail about it.
Could you please check?

[2022-04-13 19:28] bilelmoussaoui commented on #1122
Oh sorry, I missed that one. I think you were trying to create an account on the GNOME matrix server which is only open to GNOME contributors/developers (that have a `@gnome` email address). You can create an account on the main matrix homeserver and join the room just fine

[2022-04-13 23:00] Rakielle commented on #1122
Thanks @bilelmoussaoui, I've been able to join the room

[2022-04-14 10:08] hohilwik commented on #1319
Could you give me some examples of the kinds of parsing for virtual-method parser.rs needs to support? I am not entirely sure of the inputs

[2022-04-14 10:11] bilelmoussaoui commented on #1319
For example
[code]

Look at the files in the gir-files repository.

[2022-04-14 10:14] hohilwik commented on #1319
Thank you. I will try to get the first task done by 16th

[2022-04-14 22:34] jf2048 opened #1348 "signals/properties sometimes unnecessarily import ObjectType and StaticType"
As per https://github.com/gtk-rs/gtk-rs-core/pull/644#discussion_r848059112

[2022-04-14 22:35] bilelmoussaoui commented on #1348
Tbh I think we should switch to using `glib::prelude::*;`

[2022-04-15 19:17] hohilwik commented on #1319
Hello, I have slowly realized that this issue would require hundreds of lines of code so, if possible could you give me some guidance on the ways you want all this implemented? I am not very familiar with the codebase so don't know how gobject and gir internals work.

There was an old commit from vhdirk reviewed by @sdroege which did a few things with regards to vfunc parsing, but the review said

[2022-04-16 14:45] Rakielle commented on #1122
@bilelmoussaoui I was using the gir book in the repository to learn how gir works but I got stuck at the **Generate the FFI library** tutorial. The tutorial uses the `GtkSource-3.0.gir` file which isn't present in the `https://github.com/gtk-rs/gir-files` repo. I tried using `Gtk-3.0.gir` file which did not work as I keep getting lots of errors.

[2022-04-16 19:30] bilelmoussaoui commented on #1122
You can grab it from an older version of gir-files, like in https://github.com/gtk-rs/gir-files/tree/8a626fde7528ebb62a4d7902f201e483ca2ae05b

[2022-04-19 02:04] Rakielle commented on #1122
@bilelmoussaoui I was able to extract the `GtkSource-30.gir` file from the link. I'm till having issues generating FFI library for the `GtkSource-3.0.gir` file though. I'm running into several errors.

Is there a recent documentation that could help me get setup? I'm currently using https://gtk-rs.org/gir/book/tutorial/sys_library.html

[2022-04-20 10:55] Rakielle commented on #1158
@bilelmoussaoui @sdroege @MarijnS95 what would be the steps to fix this issue?

[2022-04-20 11:25] bilelmoussaoui commented on #1158
You will have to modify this function https://github.com/gtk-rs/gir/blob/master/src/codegen/doc/mod.rs#L733 which is responsible for generating a function's documentation and check if the passed function contains an GError parameter and write it down after the `# Returns` section

[2022-04-21 08:28] Segun-Ogundipe commented on #1122
Hi @bilelmoussaoui in what files can I find the builder patterns?

[2022-04-21 09:40] hohilwik commented on #1319
Hi, so far I have understood that just the virtual-method parsing (line 606 to 610 in https://github.com/gtk-rs/gir/pull/604/files) and read_virtual_method function(line 1017 to 1091) with some modification to include annotations for parameters and return values is what is required.

Is that correct?

[2022-04-21 13:51] hohilwik commented on #1158
Hi, I am not sure if this is right but are you looking for something like
[code]

[2022-04-21 18:19] bilelmoussaoui commented on #1158
That looks correct yes. Except I would use iter().first() because there are not usually more than one GError per function I believe and it has to add the GError docs after the Errors section.

[2022-04-21 18:38] bilelmoussaoui commented on #1319
The whole subclassing code (which uses virtual functions that you have to implement to change a behaviour) are all manual for now but we want to change that somehow. The goal of this issue is to start by doing the parsing of virtual-functions from the GIR file and include that information in Class/Interface types so we can use them for generating the documentation.

Instead of trying to do everyth

[2022-04-21 23:12] Rakielle commented on #1158
I used`iter().filter().next()` and added the GError docs with
[code]
But I'm getting a no name field on `std::option::Option<&&library::Parameter>` error in the PR. I checked the Parameter struct and it has the name field.

@bilelmoussaoui what can I do to fix this error?

[2022-04-21 23:27] bilelmoussaoui commented on #1158
There is no need to write the parameter name in this case, we just want it content, the `doc` field.

[2022-04-22 06:53] sdroege commented on #1158
If there were multiple then gobject-introspection wouldn't support it in the way we're talking about it here but mark it as normal function parameter.

[2022-04-22 10:48] hohilwik commented on #1308
Hi, would like to take this up. Asked about this on the element channel and know what to do now

[2022-04-23 20:52] A6GibKm opened #1351 "signal connect functions are gated behind redundant version check"
Signals with a `Since` annotation will have the version annotations even if the class they belong too is already gated behind one.

See https://gitlab.gnome.org/World/Rust/libadwaita-rs/-/merge_requests/38 where both the signal and class have the same Since tag.

CC: @bilelmoussaoui

[2022-04-24 13:53] pentamassiv opened #1353 "Book needs some love"
The book and the tutorial need some love. The GtkSource gir file no longer exists, some of the links are outdated and some information is missing. This can make it difficult to follow. Also at some points it can be simplified and be more noob friendly.
Since I am one myself but successfully went through the process of generating bindings and a wrapper, I believe I am a good candidate to update the

[2022-04-24 14:36] pentamassiv commented on #1353
Which library should I use as an example, now that SourceView is no longer an option?

[2022-04-24 19:00] bilelmoussaoui commented on #1353
That would be very appreciated, the book was put together from the old docs and wasn't necessarily updated. Feel free to send PRs for improving specific parts of it

I would use something like pango maybe

[2022-04-26 10:49] bilelmoussaoui commented on #1346
Can this be closed now?

[2022-04-26 10:54] #1346 closed

[2022-04-30 13:16] pbor opened #1355 "Generate `FromVariant` and `ToVariant` for enums"
Currently introspected enums do not easily convert to variants as they just expose their `u32` representation.

For instance this would be useful when storing enums in `gsettings`

[2022-05-04 20:47] bilelmoussaoui commented on #849
This one is no longer an issue

[2022-05-04 20:47] #849 closed

[2022-05-16 10:29] filnet opened #1356 "Some generated parse functions do not pass clippy"
This generated code:

[code]

Generates this clippy error:

[code]

[2022-05-16 11:39] filnet commented on #1356
This issue blocks https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/merge_requests/1036

[2022-05-16 11:42] bilelmoussaoui commented on #1356
I don't think it is a blocker, you could `#[allow(clippy::let_and_return)]` before your `mod auto;`. Fixing that would be great though

[2022-05-16 11:59] filnet commented on #1356
It is not simple to fix as the code handles a lot of situations (need_from_glib, tuples, ...).

[2022-05-17 07:33] sdroege commented on #1356
@filnet FWIW, I'm fine with adding `#![allow(clippy::let_and_return)]` in gstreamer-rs for that for the time being. Fixing this doesn't seem to be too simple so let's not block on that.

[2022-05-17 09:31] filnet commented on #1356
I am working on fix and it looks promising. I was able to fold the rhs of the `Let` into the `Tuple`.
Works for the new gstreamer-play project. I need to test on the whole gstreamer-rs now.

[2022-05-18 20:50] filnet commented on #1356
The fix looks good too when applied to the whole gstreamer-rs repo.
Here is what the changes look like : https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/merge_requests/1040

Many less changes than I was expected.

But net result is quite good:
- less code
- more correct `MaybeUninit` usage (?)
- fixes the clippy warning (not shown in the gstreamer-rs MR but works on my PC)

[2022-05-18 21:32] filnet commented on #1356
Down side is that gstreamer-rs does seem to use all supported function return types.
One missing case is functions returning Arrays.

[2022-05-18 21:39] bilelmoussaoui commented on #1356
Looks promising, thanks for taking care of that!

[2022-05-20 10:34] #1356 closed

[2022-05-21 11:59] filnet opened #1360 "gir fails to compile on Windows"
Fails with :
[code]

[2022-05-21 12:00] GuillaumeGomez commented on #1360
Interested into sending a fix? It should be pretty easy to do. :)

[2022-05-21 14:18] filnet commented on #1360
Not that simple...

Use of `*::unix::*` was introduced here https://github.com/gtk-rs/gir/commit/958e1b7c613e543e3d30cc69f1d1ff957f2ce8ac

It uses `OsStringExt::from_vec()` to parse the output of a git command and turn it into an `OsString` (and later to a `PathBuff`).
Relevant line is `let toplevel = OsString::from_vec(output.stdout);`.

On Windows, it is another story : https://users.rust-lang.o

[2022-05-21 14:32] filnet commented on #1360
Relevant question about stdout encoding https://users.rust-lang.org/t/stdin-stdout-stderr-and-encoding/5354

[2022-05-22 10:33] bilelmoussaoui commented on #850
I don't think this is a gir issue, gir does the right thing if the introspection data is correct.

[2022-05-22 10:34] bilelmoussaoui commented on #874
Mind elaborating what you mean with a link is replaced?

[2022-05-22 19:18] GuillaumeGomez commented on #874
It's way too old and I don't remember what it's about. Closing it.

[2022-05-22 19:18] #874 closed

[2022-05-23 06:49] #1360 closed

[2022-06-06 07:16] #1343 closed

[2022-06-20 20:27] alatiera opened #1369 "Avoid generating property accessors for properties originating from an interface"
For example, we generate wrappers for `item-type` which go through the properties, but its much better to cast the object and go through the `gio::ListModel` api instead.

_Originally posted by @ebassi in https://github.com/gtk-rs/gtk4-rs/pull/1056#discussion_r899447699_

[2022-07-09 11:14] sdroege commented on #1369
@bilelmoussaoui Any updates on this? I remember you wanted to look into it some time ago

[2022-07-16 15:23] bilelmoussaoui commented on #1369
I just did a quick look at fixing this, there were cases when we did generate a getter/notify signal that were duplicate of the parent interface/class but that is not the case for those new types that implements GListModel, as the GListModel interface doesn't require such properties at all. So there is actually not much to fix from our side here other than manually configuring those types to not g

[2022-07-18 08:23] #1369 closed

[2022-07-18 10:58] bilelmoussaoui commented on #1355
Are those traits generated by the derive macro as well?

[2022-07-18 11:10] sdroege commented on #1355
The variant derive macro can do that, yes

[2022-07-20 16:25] bilelmoussaoui opened #1372 "Support forever scope"
Currently gir fails with when trying to generate Pango2 (1.90 currently) bindings
[code]

[2022-07-20 16:34] sdroege commented on #1372
Yeah that's an easy one. GStreamer also has a couple of those but not annotated accordingly and manually bound.

[2022-07-20 17:19] bilelmoussaoui commented on #1372
Do you remember which ones that needs to be fixed so I can try my changes?

[2022-07-20 17:31] sdroege commented on #1372
They will continue to stay manual because of other issues. `gst_tag_register()` for example.

[2022-07-21 05:24] alatiera opened #1373 "[BUG] Generated broken futures code"

[2022-08-01 09:15] bilelmoussaoui commented on #1246
Actually that works just fine, i should have used the named parameter instead of self.

[2022-09-21 21:37] pentamassiv commented on #1353
I created a PR for it https://github.com/gtk-rs/gir/pull/1379

[2022-10-06 14:54] pentamassiv opened #1381 "Activate the dox feature wherever it is available"
I wanted to activate the dox feature for all gtk-core-rs, gtk3 and gtk4 crates so the docs build on docs.rs. I edited the `Cargo.toml` files. Unfortunately gir messes with them and reverts the changes.
These are the three pull requests I opened for the issue:
https://github.com/gtk-rs/gtk-rs-core/pull/778
https://github.com/gtk-rs/gtk3-rs/pull/775
https://github.com/gtk-rs/gtk4-rs/pull/1135

[2022-10-06 14:54] pentamassiv commented on #1381
I'll have a look at this later today. If it is easy enough for me, I'll fix it myself.

[2022-10-06 14:57] bilelmoussaoui commented on #1381
The change should be done somewhere in https://github.com/gtk-rs/gir/blob/master/src/codegen/sys/cargo_toml.rs btw

[2022-10-18 21:45] pentamassiv commented on #1381
Fixed (PR https://github.com/gtk-rs/gir/pull/1388)

[2022-10-18 21:45] #1381 closed

[2022-10-20 23:14] pentamassiv opened #1390 "actions-rs/toolchain unmaintained"
The actions-rs/toolchain Action has been unmaintained for a while now (https://github.com/actions-rs/toolchain/issues/216). Github displays the following warning in workflows using it:
`Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions

[2022-10-22 18:32] jf2048 opened #1391 "Builders should store a SmallVec<[(&'static str, Value)]>"
This would significantly reduce the stack size of the builder, and would not cause any extra overhead since `Object::new_internal` has to do this anyway. The builders can also unsafely call `new_internal` to avoid checks, since we know they only use valid properties.

After that, the builders could be made generic and the property setters could be moved into extension traits, which would cut down

[2022-10-23 07:55] sdroege commented on #1391
That's not actually what it does. The only thing it doesn't do is checking whether the type implements `GInitable` or `GAsyncInitable`.

It would actually increase the stack size or not? Right now it's just allocated on the heap in a `Vec`. But it gets rid of a useless heap allocation in many cases.

Actually, I was thinking that we could make use of the generic `ObjectBuilder` for the specific bu

[2022-10-24 17:15] ItzSwirlz opened #1392 "[Need help] gir fails to generate for nemo extension library"
Hi!

I'm trying to make bindings for the Nemo gir, or libnemo-extension. After a lot of fiddling (and wondering why creating a Nemo Column causes a double free), I realized that it made sense my test failed (I tried it on XApp and it worked) - gir cannot generate the sys. I see why-it generates functions that are used in the Nemo extension (Nemo extensions are .so files, so they are dynamic libs.

[2022-11-01 20:10] bilelmoussaoui commented on #1392
Would you give more details about what fails exactly? any errors ?Which command you didn't run?

[2022-11-01 22:39] pentamassiv opened #1396 "Add information about gir-rustdoc & CI templates to the book"
I am currently trying to get https://github.com/gtk-rs/gir/pull/1379 merged. [Bilal mentioned](https://github.com/gtk-rs/gir/pull/1379#discussion_r1010848068) that information about gir-rustdoc & CI templates could be added to the book. It is a good suggestion, but I'd like to not extend the scope or the PR since it already is a lot to read and review. I believe the information could be added late

[2022-11-01 23:25] ItzSwirlz commented on #1392
[code]

When generating the Rust side of the bindings, a few of the objects are missing mem management, but that's probably a fault in the Nemo source code.

I ran everything possible, I fiddled with the settings, the only fix would be to manually include the header files in the test folder.

I have had luck with another plugin library, similar to Nemo. Gedit's plugin system: https://github.com/Ub

[2022-11-04 10:31] Semeyian commented on #1039
Hello @bilelmoussaoui,
I am Mercy Semeyian from the Outreachy program. I've been going through the tutorial you provided above on how to generate the bindings using Gir. The `gir-files` directory doesn't contain a `GtkSource-3.0.gir` file for sourceview. Could it have been replaced with `Git-3.0.gir`, or is just missing entirely? If so, how should I proceed to create the `Gir.toml` `library` optio

[2022-11-09 16:31] arcnmx opened #1399 "error[E0308]: mismatched types"
gir generates `ptr::null_mut()` for `&mut type_` instead of `ptr::null()` for a function that returns a const ptr (`const gchar**` argument type):

[code]

### gir source

[code]

- [Gir.toml](https://github.com/arcnmx/wireplumber.rs/blob/218439a3700c8c995bbf7e54e808b404527ee688/Gir.toml)
- [gir version](https://github.com/gtk-rs/gir/commit/f92952f3f7ea3c880558d57668129747ee1bec90)

[2022-11-14 15:20] Megadash452 opened #1400 "Incorrect warnings when generating in `sys` mode"
When trying to ignore some symbols, the gir program will falsely flag those symbols as "missing from the library".

For example, in my case i have this ignore in my `Gir.toml`:
[code]
and running gir with this gives the following output:
[code]

but when I build and test, those constants are not present in `test/abi.rs`, so the ignore was successful.

@bilelmoussaoui suggested i open this issue to

[2022-11-15 00:36] Megadash452 commented on #1400
I think the problem has to do with these being constants, but somewhere they are being seen as GObject types. In [`src/config/gobjects.rs::resolve_type_ids`](https://github.com/gtk-rs/gir/blob/e94fdc6499e45d89bada123f4d2e63ceb6af997d/src/config/gobjects.rs#L580), the objects arg contains these constants, which then this function tries to find a Gobject type with this name (i think this is what thi

[2022-11-16 16:59] vanillajonathan opened #1401 "Generates unused imports"
GIR seems to generate unused import statements.

https://gitlab.gnome.org/World/Rust/tracker-rs/

    $ cargo build

[code]

[2022-11-21 16:53] #1400 closed

[2022-11-22 09:54] bilelmoussaoui commented on #1401
I believe the best way forward here is to actually use glib::prelude::*; in general, that would clean a lot of useless imports  and shorten the generated code.